.Container {
	display: grid;
	grid-template-columns: auto auto auto auto;
    padding: 80px;
    column-gap: 70px;
	row-gap: 100px;
}

.spices { 
	border: 4px;
	border-style: solid;
	border-color:darkgoldenrod; 
	border-radius: 7%;
	padding: 20px ;
	box-shadow: 5px 5px 6px #141414;
	background-color: rgb(7, 52, 7);
	color: rgb(254, 240, 184);

}

.name { 
	font-family: tiller, sans-serif;
font-weight: 600;
font-style: normal;
text-align: center;
font-size: 20pt;
color: antiquewhite;
}

body { 
	background-color: rgb(252, 207, 102);
}