body { 
    margin-left: 3%;
    background-color: black;
    color: aquamarine;
}

h1 {
text-align: center;
font-family:'Courier New', Courier, monospace;
}

h3 {
    font-style: normal;
    font-family:'Courier New', Courier, monospace;
}

a { 
    color: crimson;
    
}

a:visited {
    color: crimson; 
}


