body
 { 
    background-color: whitesmoke;
    background-image: url(../assests/360_F_124313739_k7DmMQARYcIMQMvj26shzJQYA2VZOAcy.jpg);
    
 }
.dropbtn {
  background-color: #684e19;
  color: whitesmoke;
    padding: 16px;
    font-size: 50px;
    border: none;
    width: 80%;
    height: 13%;
    transform: rotate(-90deg);
    position: fixed;
    left: -37%;
    top: 45%;
    text-decoration: none;
    font-family: tiller, sans-serif;
    font-weight: 700;
    font-style: normal;
    text-shadow: 0 0 3px #312301;
  }
a {
    text-decoration: none;
    color: white;
}
  img { 
    position: relative;
    left: 28%;
    top: 15%;
    width: 50%;
  }

  figcaption{
    text-align: center;
    font-size: 30px;
    color: #463313;
    font-family: tiller, sans-serif;
    font-weight: 550;
    
  }

  #bio { 
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    color: #926c0d;
    font-weight: 400;
  }

  .grid { 
    display: grid;
    grid-template-columns: auto auto;
    padding: 80px;
    column-gap: 200px;
  }

  h2 { 
    font-size: 28px;
    font-family: tiller, sans-serif;
    font-weight: 500;
    font-style: italic;
    text-decoration: wavy;
    color: #463313;
  }

  p { 
    color: #82600b;
  }

  main { 
    margin-left: 10%;
  }

  .writeup { 
    padding: 5%;
    background-color: rgba(235, 235, 235, 0.7);
    border-radius: 5%;
  }